/* HTML/Body Defaults and CSS Reset */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
}
h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Button Defaults */
button {
    border: none;
    border-radius: 1vh;
    box-shadow: 0 0;
    transition: box-shadow .15s;
    outline: none;
    cursor: pointer;
    font-size: 2.5vh;
    background-color: #FFE80C;
}
button:hover {
    box-shadow: 0 .25vh .75vh;
}
button:active {
    box-shadow: 0 0;
}
/* Cancel/Close Button */
#cancel-button, #close-button {
    background-color: #FF6000;
}

/* Input Defaults */
input, textarea {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    border: 1px solid lightgray;
}
input {
    text-align: center;
}
textarea {
    resize: none;
}

/* MASTHEAD */
/* Masthead Container */
#masthead {
    height: 14%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFB900;
    margin-bottom: 1%;
}
/* Masthead Title */
#title {
    margin-right: 5vh;
    font-size: 6vh;
}
/* New Recipe Button */
#new-recipe-button {
    margin-left: 5vh;
    padding: 2vh;
}

/* SAVED RECIPE */
/* All Recipes Container */
#recipes {
    display: flex;
    flex-flow: row wrap;
}
/* Single Recipe Container */
.recipe {
    height: 40%;
    width: 20%;
    margin: 2.5%;
    padding: 1%;
    cursor: pointer;
    background-color: #FFE80C;
}
/* Header */
.recipe-header {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-bottom: 1vw;
}
/* Thumbnail Image */
#thumbnail {
    height: 80%;
    width: 100%;
}

/* MODALS */
/* Modal Container (Modal Dim) */
.modal {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}
/* Modal Content */
.modal-content {
    height: 75%;
    width: 60%;
    position: relative;
    background-color: white;
    animation-name: fly-in;
    animation-duration: .25s;
}
/* Modal Entrance Animation */
@keyframes fly-in {
    from {
        top: -100vh;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
/* Modal Exit Animation */
@keyframes fly-out {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -100vh;
        opacity: 0;
    }
}
/* Modal Header */
.modal-header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #FFB900;
}
/* Column Defaults */
.modal-left-column, .modal-right-column {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
/* Left Column */
.modal-left-column {
    align-items: center;
    justify-content: space-evenly;
    float: left;
}
/* Right Column */
.modal-right-column {
    align-items: flex-start;
    justify-content: center;
    float: right;
}

/* NEW RECIPE MODAL */
/* Form */
#new-recipe-form {
    height: 100%;
}
/* LEFT COLUMN */
/* Input Containers */
#new-recipe-name, #new-recipe-image, #new-recipe-instructions {
    width: 100%;
    display: flex;
    justify-content: center;
}
#new-recipe-name, #new-recipe-image {
    height: 10%;
}
#new-recipe-instructions {
    height: 70%;
}
/* Inputs */
#name-field, #image-field, #instructions-field {
    height: 100%;
    width: 90%;
}
/* RIGHT COLUMN */
/* Ingredients Input Container */
#new-recipe-ingredients {
    width: 92%;
    height: 95%;
}
/* Ingredients Input */
#ingredients-field {
    height: 100%;
    width: 100%;
}

/* SELECTED RECIPE MODAL */
/* Left Column Containers */
#selected-recipe-image, #selected-recipe-instructions {
    height: 46%;
    width: 96%;
    padding: 2%;
}
/* Right Column Container */
#selected-recipe-ingredients {
    height: 96%;
    width: 96%;
    padding: 2%;
}
